<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">BACK-End</span>
                    <img class="img-fluid" src="/images/Angular.png" alt="Alternate Text">

                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Backend Manged with API</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>ASP.NET CORE 3.0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Front-End</span>
                    <img class="img-fluid" src="/images/Angular.png" alt="Alternate Text">

                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Client Side Managed with Angular</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>ANGULAR</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">UI Framework</span>
                    <img class="img-fluid" src="/images/Angular.png" alt="Alternate Text">

                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">Template Build with Bootstrap 4.2.3</span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>BOOTSTRAP 4</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">JWT Authentication</h5>
                    <ul class="list-group">
                        <li class="list-group-item"> JSON Web Tokens are an open, industry standard Rfc 7519 method for representing claims securely between two parties</li>
                        <li class="list-group-item"> JWT.IO allows you to decode , verify and generate Jwt</li>
                        <li class="list-group-item"> JWTs can be signed using a secret (with the IMAC algorithm) or a public/private key pair using RSA or ECOSA</li>
                        <li class="list-group-item"> JWTs signed can verify the integrity of the claims contained within it</li>
                        
                    </ul>
                    <a href="https://jwt.io/" class="btn btn-primary mt-2 btn-block">Read More</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase">Asp.Net Identity Framework</h5>
                    <ul class="list-group">
                        <li class="list-group-item"> JSON Web Tokens are an open, industry standard Rfc 7519 method for representing claims securely between two parties</li>
                        <li class="list-group-item"> JWT.IO allows you to decode , verify and generate Jwt</li>
                        <li class="list-group-item"> JWTs can be signed using a secret (with the IMAC algorithm) or a public/private key pair using RSA or ECOSA</li>
                        <li class="list-group-item"> JWTs signed can verify the integrity of the claims contained within it</li>
                        
                    </ul>
                    <a href="https://jwt.io/" class="btn btn-primary mt-2 btn-block">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
